Projects.NETCore/Beste.Databases/Beste.Databases.Connector/Resources/DBConnectionSettings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Ip"/>
        <xs:element type="xs:string" name="DbSchema"/>
        <xs:element type="xs:string" name="DbUser"/>
        <xs:element type="xs:string" name="DbPassword"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>